#selectedAvatar {
    width: 30%;
    height: 30%;
    object-fit: cover;
}

.dashed-border {
    border: 2px dashed #ccc;
    padding: 20px;
}

.img-card{
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    overflow: auto!important;
}

.round-image{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: none;
}

.submit-btn{
    padding: 14px 20px;
    margin-top: 10px;
}

.cancel-btn{
    padding: 14px 20px;
    margin-top: 10px;
}
